<h1 style="text-align: center">About</h1>
<p>Hey you! Yes you! We know you have the choice when purchasing items online, but here at <%= link_to 'Jungle', :root %> we only source ethically and scour the globe
to find the best deals and put the savings back into your wallet!
</p> 